In [1]:
import pandas as pd

In [9]:
big5 = pd.read_csv('./data.csv', sep = "\t", encoding='utf-8')

In [15]:
with open("./codebook.txt", 'r') as f:
    txt = f.readlines()
    
for li in txt:
    print(li)

This data was collected (c. 2012) through on interactive online personality test. Participants were informed that their responses would be recorded and used for research at the begining of the test and asked to confirm their consent at the end of the test.



The following items were rated on a five point scale where 1=Disagree, 3=Neutral, 5=Agree (0=missed). All were presented on one page in the order E1, N2, A1, C1, O1, E2......



E1	I am the life of the party.

E2	I don't talk a lot.

E3	I feel comfortable around people.

E4	I keep in the background.

E5	I start conversations.

E6	I have little to say.

E7	I talk to a lot of different people at parties.

E8	I don't like to draw attention to myself.

E9	I don't mind being the center of attention.

E10	I am quiet around strangers.

N1	I get stressed out easily.

N2	I am relaxed most of the time.

N3	I worry about things.

N4	I seldom feel blue.

N5	I am easily disturbed.

N6	I get upset easily.

N7	I change my mood a lot.

N8	I have frequent mood swings.

N9	I get irritated easily.

N10	I often feel blue.

A1	I feel little concern for others.

A2	I am interested in people.

A3	I insult people.

A4	I sympathize with others' feelings.

A5	I am not interested in other people's problems.

A6	I have a soft heart.

A7	I am not really interested in others.

A8	I take time out for others.

A9	I feel others' emotions.

A10	I make people feel at ease.

C1	I am always prepared.

C2	I leave my belongings around.

C3	I pay attention to details.

C4	I make a mess of things.

C5	I get chores done right away.

C6	I often forget to put things back in their proper place.

C7	I like order.

C8	I shirk my duties.

C9	I follow a schedule.

C10	I am exacting in my work.

O1	I have a rich vocabulary.

O2	I have difficulty understanding abstract ideas.

O3	I have a vivid imagination.

O4	I am not interested in abstract ideas.

O5	I have excellent ideas.

O6	I do not have a good imagination.

O7	I am quick to understand things.

O8	I use difficult words.

O9	I spend time reflecting on things.

O10	I am full of ideas.



On the next page the following values were collected.



race	Chosen from a drop down menu. 1=Mixed Race, 2=Arctic (Siberian, Eskimo), 3=Caucasian (European), 4=Caucasian (Indian), 5=Caucasian (Middle East), 6=Caucasian (North African, Other), 7=Indigenous Australian, 8=Native American, 9=North East Asian (Mongol, Tibetan, Korean Japanese, etc), 10=Pacific (Polynesian, Micronesian, etc), 11=South East Asian (Chinese, Thai, Malay, Filipino, etc), 12=West African, Bushmen, Ethiopian, 13=Other (0=missed)

age	entered as text (individuals reporting age < 13 were not recorded)

engnat	Response to "is English your native language?". 1=yes, 2=no (0=missed)

gender	Chosen from a drop down menu. 1=Male, 2=Female, 3=Other (0=missed)

hand	"What hand do you use to write with?". 1=Right, 2=Left, 3=Both (0=missed)



On this page users were also asked to confirm that their answers were accurate and could be used for research. Participants who did not were not recorded).



Some values were calculated from technical information.



country	The participant's technical location. ISO country code.

source	How the participant came to the test. Based on HTTP Referer. 1=from another page on the test website, 2=from google, 3=from facebook, 4=from any url with ".edu" in its domain name (e.g. xxx.edu, xxx.edu.au), 6=other source, or HTTP Referer not provided.

In [10]:
big5.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3

In [14]:
big5.loc[:,'E1':]

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,4,2,5,2,5,1,4,3,5,1,...,4,1,3,1,5,1,4,2,5,5
1,2,2,3,3,3,3,1,5,1,5,...,3,3,3,3,2,3,3,1,3,2
2,5,1,1,4,5,1,1,5,5,1,...,4,5,5,1,5,1,5,5,5,5
3,2,5,2,4,3,4,3,4,4,5,...,4,3,5,2,4,2,5,2,5,5
4,3,1,3,3,3,1,3,1,3,5,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,1,4,3,5,4,3,1,2,1,5,...,1,3,5,3,4,1,4,2,5,3
19715,2,3,2,3,2,3,2,4,4,4,...,1,2,3,2,3,3,4,2,3,3
19716,2,5,4,5,5,5,1,2,1,5,...,5,3,1,3,4,1,1,5,5,5
19717,1,4,2,3,2,4,1,3,4,5,...,3,2,5,3,4,1,5,3,5,5
19718,2,3,1,5,3,3,3,2,2,4,...,5,1,5,1,4,1,5,5,5,5